/*Div styling - PLEASE do not change this*/
/*

  []
  []]]
  []]]]
  []]]]]]
   []]]]]]]
     []]]]]]]]]
       ]]]]]]]
|
|__    ___      ___    ___       ___    ___          ___     ____              ___
|  \  /   |  | /   \  /   |   | /   \  /   |      | /   \   /____\  |  |   |  (___
|__/  \__/ \ |/    |  \__/ \  |/    |  \__/ \     |/    |   \____   \__/\__/   ___)

  _____________________________________________________________________________________________________________________________
 |                                                                                                                             |
 |   __                                                                            |                        __                 | 
 |  |  \   __   _   _  |  __            |     _      _ __   __   __|         __    |/     _   _            /__ o   _  __  |    |
 |  |__/  /__\ / \ | \ | /__\   |  |  | |__  / \   |/ /__\ /  | /  |   | |  (__    |\  | / \ / \ |  |  |   |   | |/  (__ _|__  |
 |  |     \__  \_/ |_/ | \__    \_/ \_/ |  | \_/   |  \__  \_/ \\_/|   \_/\  __)   | \ |/  | \_/ \_/ \_/   |   | |    __) |_/  |
 |                 |                                                                                                           |
 |_____________________________________________________________________________________________________________________________|


If you're the sort of person who looks at the source code of webpages, try our challenge:

https://banana-news.github.io/banana/share_this_page.html



*/
.img-container{
  overflow: hidden;
  border-radius: 10%;
}
.options-div {
 float:left;
  border-radius: 10px;
  padding: 35px;
  background-color: #FFE135;
  border: 2.5px solid #808080;
  color: #000000;
  transition: 0.5s ease-in-out;
  min-height:500px;
  width:45%;
  margin: 20px;
}
.options{
  background-color: #00000000;
}
@media (max-width:768px) {
  .options-div{
      border-radius: 15px;
      padding: 52.5px;
      background-color: #FFE135;
      border: 3.75px solid #808080;
      color:#000000;
      height:auto;
      width: 80%;
      height:600px;
      float: left;
  }
  .options{
      padding: 30px;
  }
}
