/*Div styling - PLEASE do not change this*/
.options div{
    border-radius: 10%;
    padding: 12%;
    background-color: #FFE135;
    border: 0.325% solid grey;
    color:black;
    transition: 0.5s ease-in-out;
}
.options div:hover{
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}
.options{
    padding: 12%;
}
.options:hover{
    background-color: #ffffff;
}