/*Please ask Albert before changing or deleting this CSS.*/
/*

  []
  []]]
  []]]]
  []]]]]]
   []]]]]]]
     []]]]]]]]]
       ]]]]]]]
|
|__    ___      ___    ___       ___    ___          ___     ____              ___
|  \  /   |  | /   \  /   |   | /   \  /   |      | /   \   /____\  |  |   |  (___
|__/  \__/ \ |/    |  \__/ \  |/    |  \__/ \     |/    |   \____   \__/\__/   ___)

  _____________________________________________________________________________________________________________________________
 |                                                                                                                             |
 |   __                                                                            |                        __                 | 
 |  |  \   __   _   _  |  __            |     _      _ __   __   __|         __    |/     _   _            /__ o   _  __  |    |
 |  |__/  /__\ / \ | \ | /__\   |  |  | |__  / \   |/ /__\ /  | /  |   | |  (__    |\  | / \ / \ |  |  |   |   | |/  (__ _|__  |
 |  |     \__  \_/ |_/ | \__    \_/ \_/ |  | \_/   |  \__  \_/ \\_/|   \_/\  __)   | \ |/  | \_/ \_/ \_/   |   | |    __) |_/  |
 |                 |                                                                                                           |
 |_____________________________________________________________________________________________________________________________|


If you're the sort of person who looks at the source code of webpages, try our challenge:

https://banana-news.github.io/banana/share_this_page.html



*/
select {
    width: 200px;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
  }
  select:hover{
    cursor: pointer;
    background-color: #d3d3d3;
  }
  .image-container {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: #ffffff;
  }

  .face {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1; 
  }

  .fruit {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.5;
    left: 0;
  }
  