
            input{
  padding: 20px;
border-radius: 20px;
height: 30px; 
width: 350px;
cursor: text;
background-color: rgb(255, 255, 255);
border-color: #181818 rgb(54, 54, 54) rgb(59, 59, 59) rgb(0, 0, 0);
}
#searchResults {
    background-color: rgb(208, 208, 208);
    padding: 20px;
    height: 200px;
}
#results {
    color: white;
} 
/*h2 {
    background-color: white;
}
p {
    background-color: white;
}
a {
    font-size: 24px;
}
footer {
    position: absolute;
    bottom: 0;
}*/
#header {
    position: absolute;
    top: 0;
}