/*This is the code for the styling of the webpage -  Albert don't change my dark gray hex colour. 
Also Albert do not change my background colour- I specifically looked up 'banana yellow'. 
Put all your styling that applies to everything under this comment. (if you have styling specific to one page, 
create a <style></style> tag in the <head></head> and add it to your <style></style> tag.*/
button {
    width: 200px;
    /*height: 42px; <-- pls Do not uncomment this*/
    font-size: 20px;
    background-color: #3C3B3B;
    border-radius: 7px;
    font-size: 20px;
    padding: 15px;
    transition: 0.5s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    border:none;
    color:#00FFFF
  }
  button:hover{
    background-color: #969696;
    cursor:pointer;
  }
  h1{
    font-family: 'IBM Plex Serif', serif;
    font-size: 100px;
    text-align: center;
  }
  h2{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    text-align: center;
  }
  p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
  }
h3{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-decoration-line: underline;
  text-align: center;
}
body {
  background-color: #FFE135;
}
.navbar{
  width: 100%;
  height: 100px;
}
.navbar a{
  background-color:rgb(0,0,255);
  color:white;
  font-size:30px;
  font-family:'Open Sans', sans-serif;
  padding:30px;
   transition:0.5s ease-in-out;
  }
  .navbar a:hover{
  background-color:grey;
  cursor:pointer;
  }
  input{
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:3px solid rgb(0,0,0);
    transition:0.5s ease-in-out;
  }
  input:hover{
    border:3px solid #000000;
  }
  input:focus{
    border:3px solid #000000;
    outline:none;
  } 