/*This is the code for the styling of the webpage -  Albert don't change my dark gray hex colour. 
Also Albert do not change my background colour- I specifically looked up 'banana yellow'. 
Put all your styling that applies to everything under this comment. (if you have styling specific to one page, 
create a <style></style> tag in the <head></head> and add it to your <style></style> tag.*/
/*

  []
  []]]
  []]]]
  []]]]]]
   []]]]]]]
     []]]]]]]]]
       ]]]]]]]
|
|__    ___      ___    ___       ___    ___          ___     ____              ___
|  \  /   |  | /   \  /   |   | /   \  /   |      | /   \   /____\  |  |   |  (___
|__/  \__/ \ |/    |  \__/ \  |/    |  \__/ \     |/    |   \____   \__/\__/   ___)

  _____________________________________________________________________________________________________________________________
 |                                                                                                                             |
 |   __                                                                            |                        __                 | 
 |  |  \   __   _   _  |  __            |     _      _ __   __   __|         __    |/     _   _            /__ o   _  __  |    |
 |  |__/  /__\ / \ | \ | /__\   |  |  | |__  / \   |/ /__\ /  | /  |   | |  (__    |\  | / \ / \ |  |  |   |   | |/  (__ _|__  |
 |  |     \__  \_/ |_/ | \__    \_/ \_/ |  | \_/   |  \__  \_/ \\_/|   \_/\  __)   | \ |/  | \_/ \_/ \_/   |   | |    __) |_/  |
 |                 |                                                                                                           |
 |_____________________________________________________________________________________________________________________________|


If you're the sort of person who looks at the source code of webpages, try our challenge:

https://banana-news.github.io/reports/share_this_page.html

  _____________________________________________________________________________________________________________________
 |                                                                    _____                                            |
 |   \          /                                                   /                                        |  |  |   |
 |    \        /    ____   |    __    ___    __   __    ____        |         o      __      __       __     |  |  |   |
 |     \  /\  /    /____\  |   /     /   \  /  \ /  \  /____\        \__      |   | /  \    /  \   | /  \    |  |  |   |
 |      \/  \/     \____   |   \__   \___/  |   |   |  \____   /        \     |   |/    |   \__/\  |/    |   o  o  o   |
 |                                                            /          |                                             |
 |                                                                  ____/                                              |
 |_____________________________________________________________________________________________________________________|

*/
.background{
  padding: 75px;
  width: 100%;
  text-align: center;
}
.tomatoMessage{
  background-image: linear-gradient(#008000,#ff6347);
  padding: 20px;
  color: #ffffff;
}
.tomatoMessage a{
  color:#ffffff;
  -webkit-text-fill-color: #ffffff;
}
button {
    font-size: 20px;
    border-radius: 5px;
    padding: 7px;
    background-color: green;
    transition: 0.5s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    border:none;
    color:#ffffff;
    width: auto+20px;
  }
  button:hover{
    background-color: #969696;
    cursor:pointer;
  }
  h1{
    font-family: 'IBM Plex Serif', serif;
    font-size: 100px;
    text-align: center;
  }
  h2{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    text-align: center;
  }
  p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
  }
h3{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration-line: underline;
  text-align: center;
}
body {
  background-color: #FFE135;
}






/*
  input{
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:3px solid rgb(0,0,0);
    transition:0.5s ease-in-out;
  }
  input:hover{
    border:3px solid #000000;
  }
  input:focus{
    border:3px solid #000000;
    outline:none;
  } 
  */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 20px;
  font-family:'Open Sans', sans-serif;
  transition: 0.5s ease-in-out;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav .icon {
  display: none;
} 

@media (max-width:768px){
  img{
    width: 80%;
    height: auto;
  }
  .background{
    padding: 107.5px;
    width: 100%;
    text-align: center;
  }
  .tomatoMessage{
    background-image: linear-gradient(#008000,#ff6347);
    padding: 30px;
    color: #ffffff;
  }
  .tomatoMessage a{
    color:#ffffff;
    -webkit-text-fill-color: #ffffff;
  }
  button {
    font-size: 30px;
    border-radius: 7.5px;
    padding: 10.5px;
    background-color: #008000;
    font-family: 'Open Sans', sans-serif;
    border:none;
    color:#ffffff;
    width: auto+20px;
  }
  h2{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    text-align: center;
  }
  p{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
  }
h3{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-decoration-line: underline;
  text-align: center;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 33px;
  text-decoration: none;
  font-size: 37.5px;
  font-family:'Open Sans', sans-serif;
}
/*PLEASE don't change table styling (below) it will mess it up*/
tr:nth-child(even){
  background-color: #919191;
 }
 td{padding:30px;}
 th,td,table,tr{font-family: 'Open Sans', sans-serif;font-size:30px;border: 1.5px solid #000000;}
 /*I know what you're thinking. Just don't.*/

 .searchbutton {
  height: 93px;
  border-radius: 30px;
  background-color: #008000;
  border: 1.5px solid #000000;
  color: #ffffff;
  width: 300px;
  font-size: 45px;
  height: 105px;
}
.searchbutton:hover {
  background-color: grey;
  color: black;
  cursor: pointer;
  font-size: 36px;
}
footer {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
}

 @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 
.options div img {
  margin: auto;
}


/*PLEASE don't change table styling (below) it will mess it up*/
tr:nth-child(even){
  background-color: #919191;
 }
 td{padding:20px;}
 th,td,table,tr{font-family: 'Open Sans', sans-serif;font-size:20px;border: 1px solid #000000;}
 /*I know what you're thinking. Just don't.*/

 .searchbutton {
  height: 62px;
  border-radius: 20px;
  background-color: green;
  border: 1px solid black;
  color: white;
  width: 200px;
  font-size: 30px;
  height: 70px;
}
.searchbutton:hover {
  background-color: grey;
  color: black;
  cursor: pointer;
  font-size: 24px;
}
footer {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.tomatonews{
  padding: 20px;
  background-image: linear-gradient(#ff6347, #008000);
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  top: 100px;
  left: 40%;
  width: 400px;
}
@keyframes mymove {
  100% {transform: rotate(360deg);}
}

