body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f00;

}
.game {
position: relative;
width: 600px;
height: 200px;
border: 2px solid #000;
overflow: hidden;

}
.obstacle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: green;
    animation: moveObstacle 2s infinite linear;


}

@keyframes moveObstacle {

    0% { right: 0; }
    100% { right: 600px; }

}
@keyframes jump {
    0%
}